/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans        &kp Q        &kp W        &kp F  &mt LC(P) P        &kp B            &kp J      &kp L             &kp U    &kp Y  &kp SEMICOLON  &trans
&trans  &mt LC(A) A        &kp R  &mt LC(S) S        &kp T        &kp G            &kp M      &kp N             &kp E    &kp I    &mt LC(O) O  &trans
&trans  &mt LC(Z) Z  &mt LC(X) X  &mt LC(C) C        &kp D  &mt LC(V) V            &kp K      &kp H         &kp COMMA  &kp DOT       &kp FSLH  &trans
                                       &tog 1    &kp LSHFT    &kp SPACE    &kp BACKSPACE  &kp ENTER  &kp LEFT_CONTROL
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans      &kp ESCAPE      &kp K_PLAY_PAUSE             &kp K_PREV      &kp K_NEXT             &tog 2    &kp SLASH  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTERISK  &trans
&trans         &kp TAB             &kp COLON          &kp BACKSLASH  &kp APOSTROPHE  &kp DOUBLE_QUOTES    &kp EQUAL  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6     &kp MINUS  &trans
&trans  &kp UNDERSCORE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS        &kp EXCL       &kp QUESTION     &kp BSPC  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3      &kp PLUS  &trans
                                                             &tog 0  &kp LEFT_SHIFT          &kp SPACE       &kp N0    &kp PERIOD    &kp RETURN
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
  &kp TAB  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET   &kp AMPS  &kp KP_MULTIPLY  &kp LPAR  &kp RPAR   &kp BSPC
&kp LCTRL    &trans  &trans    &trans    &trans     &trans    &kp MINUS  &kp EQUAL         &kp LBKT  &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT    &trans  &trans    &trans    &trans     &trans    &kp UNDER   &kp PLUS         &kp LBRC  &kp RBRC  &kp PIPE  &kp TILDE
                             &kp LGUI    &trans  &kp SPACE      &kp RET     &trans         &kp RALT
            >;
        };
    };
};
